.container-f{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10%;
  padding-right:0%;
}

.top-right-button {
  position: relative;
  top: 20px;
  right: 10px;
  width: 200px;
  height: 56px;
  background-color: #76ABAE; /* Set the background color */
  color: white; /* Set the text color */
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
  
  margin-left: auto; /* Set the width to auto to fit content */
}
.top-right-button:hover {
  background-color: grey;
}
.card-f {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    margin-top: 50px;
    width: calc(22% - 10px);
    height: 270px;
  
  }
  
  
  .faculty-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
  }
  .card-container-f {
   
    display: flex;
    flex-direction: column;
    padding-left: 200px;
  }
  .card-row-f {
    display: flex;
    justify-content: space;
    margin-bottom: 20px; /* Adjust as needed */
  }
  .card-image-f {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-content-f {
    display: flex;
    align-items: center;
    background-color: #76ABAE;
    height: 70px;
    
  }
  
  .card-title-f {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card-text-f {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card-button-f {
    padding: 10px 20px;
    background-color: #76ABAE;
    color:  #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline-color: black;
    font-size: 1rem;
    
  }
  
  .card-button-f:hover {
    background-color: grey;
  }
  