.card-container-f {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
}
.card-f {
  width: calc(33% - 20px);
  margin: 10px;
  padding: 3%;
  height: auto;
}
@media (max-width: 768px) {
  .card-container-f {
    padding: 0 10px; 
    padding-left: 12%;
    padding-right: 12%;
  }
  .card-f {
    width: calc(100% - 20px); 
  }

  .container-f {
    padding-left: 10px; 
    padding-right: 10px; 
  }
}
.container-f{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10%;
  padding-right:0%;
  margin-bottom: 3%;
}
.top-right-button {
  position: relative;
  top: 20px;
  right: 10px;
  width: 200px;
  height: 56px;
  background-color: #76ABAE; 
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
  
  margin-left: auto; 
}
.top-right-button:hover {
  background-color: #212529;
}

.card-image-f {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content-f {
  display: flex;
  align-items: center;
  background-color: #76ABAE;
  height: 70px;
}

.card-button-f {
  padding: 10px 20px;
  background-color: #76ABAE;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline-color: black;
  font-size: 1rem;
}

.card-f:nth-child(5) {
  order: -1;
}
@media (min-width: 1250px) {
  .card-container-f{
    padding-left: 10%;
    padding-right: 10%;
  }
}