/* Desktop view styles */
.containerl {
  margin: 4%;
  margin-top: 70px;
}

.columnl {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.rowl {
  margin: 0 -5px;
}

.cardl {
  padding: 16px;
  text-align: center;
  background-color: #76ABAE;
  height: 120px;
  border-radius: 15px;
}
.body {
  color: #FFFFFF;
}

.tablehead {
  background-color: #EEEEEE;
  height: 4rem;
}

.tablebody {
  background-color: #F7FCFC;
}
/* styles.css */
.truncate-text {
  font-size: 1.25rem; /* Base font size for mobile */
  line-height: 1.2; /* Line height */
  margin: 0;
}
@media (min-width: 992px) {
  .truncate-text{
  font-size: 1.1rem; /* Reduced font size for desktop */
}
}
/* Mobile view styles */
@media (max-width: 767px) {
  .columnl {
    float: none;
    width: 100%;
    padding: 0 10px;
  }

  .rowl {
    margin: 0;
  }

  .cardl {
    margin-bottom: 20px;
  }
}
/* styles.css */
@media (max-width: 990px) {
  .containerl {
    padding-top: 1%;
  }
  .card {
    width: 48%;
    margin-bottom: 2%;
  }

  .card-body {
    text-align: center;
  }
}
