/* Quiz styles */
.page {
  padding: 20px;
  position: static;
}

.quiz-container {
  background-color: #ffffff;
  padding: 20px;
  width: 1300px;
  margin: 0 auto;
}

.top-bar {
  background-color: #76abae;
  color: #ffffff;
 height: 150px;
  display: flex; 
 
}

.top-bar h2 {
  margin: 0; 
}

/* Quiz Box Styles */
.quiz-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; 
  width: 100%;
}

.option {
  margin-bottom: 10px;
}

.correct-answer {
  accent-color: green ;
}

.wrong-answer {
  accent-color: red;
}

@media (max-width: 768px) {
  .top-bar h2 {
    font-size: 16px; 
  }
}
/* Chatbot icon styles */
.chatbot-icon {
position: fixed;
bottom: 20px;
right: 20px;
width: 60px;
height: 60px;
background-color: #76ABAE;
border-radius: 50%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000; 
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
transition: transform 0.3s ease; 
}

.chatbot-icon:hover {
transform: scale(1.1); 
}

.chatbot-icon img {
width: 40px; 
height: 40px;
}

/* Chatbot interface styles */
.chatbot-interface {
position: fixed;
bottom: 100px; 
right: 20px;
width: 300px; 
height: 400px;
background-color: white;
border-radius: 10px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
z-index: 1000;
display: flex;
flex-direction: column;
}
/* message styles */
.chat-messages {
flex: 1;
overflow-y:auto;
scroll-behavior: auto;
padding: 15px;
display: flex;
flex-direction: column;
}
.sent-message {
background-color: #76ABAE; 
align-self: flex-start; 

}

.received-message {
background-color: #555555; 
align-self: flex-end; 

}
.message {
font-size: small;
color: white; 
border-radius: 20px;
padding: 5px 10px; 
margin-bottom: 5px; 
max-width: 70%; 
word-wrap: break-word;
}
.chat-input {
display: flex;
align-items: center;
padding: 10px;
background-color: #EEEEEE;
margin-top: auto;
}

.chat-input input {
flex: 1;
padding: 8px;
border: none;
border-radius: 4px;
margin-right: 10px;
background-color: #EEEEEE;

}

.chat-input img {
cursor: pointer;
}
/*title styles*/
.assist-container {
display: flex;
align-items: center;
padding: 10px;
background-color: #f0f0f0;
border-radius: 10px;
}

.icon-container {
width: 40px;
height: 40px;
background-color: #FFFFFF;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}

.icon {
width: 30px;
height: 30px;
}

.text {
margin: 0;
font-family:monospace;
}
