

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-side {
    flex: 1;
    padding: 30px;
  }
  
  .right-side {
    flex: 1;
    padding: 20px;
    color:#76ABAE ;
    word-spacing: 8px;
  }
  .xyz {
     flex:1;
     padding:40px;
     font-size: 35px;
  
  }
  
  .logo-image {
    width:300%;
    max-width: 600px;
    height: 700px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #76ABAE;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .forgot-password-link {
    margin-top: 10px;
    text-align: right;
  }
  
  .forgot-password-link a {
    color: #222831;
    text-decoration: none;
    cursor: pointer;
  }
  
  .forgot-password-link a:hover {
    text-decoration: underline;
  }