@media (max-width: 767px) {
  .custom-padding {
    padding-top: 40px !important;
  }
  .instructions-container{
    margin: 2%;
  }
  
}
.flex1-container {
  display: flex;
  justify-content: space-between;
margin:20px
}

.switch-container {
  position:relative;
  top: 20px;
  bottom:20px;
  left:20px;
  display:flex;
  align-items: "center";
}

.switch-label {
  margin-right: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.switch-text {
  margin-left: 5px;
}

.link-container {
  position: relative;
  top: 20px;
  bottom: 20px;
  right: 20px;
}

.save-button {
  background-color: #76abae;
  border: none;
}

@media (max-width: 575.98px) {
  .save{
margin: 10%;}
  .flex-container {
    flex-direction: column;
  }
  .link-container {
    margin-top: 10px;
    right: 0;
  }
}
