.main-content {
    padding: 20px;
  }
  
  .quiz-box {
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 20px; 
  }
  
  .option {
    margin-bottom: 10px; 
  }
  @media (max-width: 768px) {
    .top-bar h4 {
      font-size: 16px;
    }
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
  }
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  
  
  .header .container-fluid {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .header .btn {
    margin-right: 10px;
  }
.Time{

margin-bottom: 50px;
padding-left: 20px;
margin-top: 50px;
}

  