/* Quiz.css */

/* General Styles */
.quiz-container {
  background-color: #ffffff; /* White background for the entire quiz container */
}

.top-bar {
  background-color: #76abae;
  width: 1300px;
  height: 150px;
  top: 56px;
  left: 60px;
  /* Teal background color for the top bar */
  color: #ffffff; /* White text color */
  padding: 100px 20px;
  margin-left: 100px; /* Vertical padding */

}



.main-content {
  padding: 20px; /* Padding for the main quiz content */
}

.quiz-box {
  border: 1px solid #ccc; /* Gray border for each quiz box */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding inside each quiz box */
  margin-bottom: 20px; /* Margin between quiz boxes */
}

.option {
  margin-bottom: 10px; /* Margin between each quiz option */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .top-bar h4 {
    font-size: 16px; /* Smaller font size for headings on smaller screens */
  }
}

