.navbar{
    height: min-content;
  }
  .navbar-nav .nav-link {
      margin-left: 20px;
      border-bottom: 2px solid transparent;
    }
    
    .navbar-nav .nav-link:hover {
      border-bottom-color: #76abae;
      transition: border-bottom-color 0.3s;
    }
    
    #dropdown .nav-link {
      border-radius: 25px;
      background-color: #76ABAE;
      color: white; 
      transition: background-color 0.3s; 
    }
    
    #dropdown .nav-link:hover {
      background-color: #222831; 
    }
    
  .dropdown-menu .dropdown-item:hover {
      padding: 0.5rem 1rem; 
      background-color: #76abae4c
    }
    
  .section {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .full-screen {
      height: 100vh; 
    }
    
    .half-screen {
      height: 50vh; 
    }
    #home .btn-start{
      text-decoration: none;
      background: #76ABAE;
      color: #fff;
      border-radius: 50px;
      padding: 8px 35px 10px 35px;
      max-width: fit-content;
    }
    #home .btn-start:hover{
      background-color: #222831;
    }
    #home{
      margin: auto;
    }
     .textbox{
      width:50vw;
      text-align: justify;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .img{
      height: 150%;
      width:170%;
      align-content: center;
    }
    #contact{
      background-color:#76ABAE;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #contact .row h3{
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      position: relative;
      font-family: "Poppins", sans-serif;
  
    }
    #contact .row p{
      font-size: 15;
      color: #fff;
      font-style: italic;
    }
  #contact .input-group{
    width: 500px;
  }
  #contact .btn{
    background-color: #222831;
    color: #fff;
    width:fit-content;
  }
  .footer{
    background-color: #76ABAE;
  }
  .footer .container {
    border-top: 1px solid  rgba(0, 0, 0, 0.816);
    position:relative;
    justify-content: flex-end;
  }
  
  .footer .container .copyright {
    
    text-align: left;
    float: left;
    font-size: small;
  }
  
  .footer .container .credits {
    float: right;
    text-align: right;
    font-size: small;
  }
  .instructions-container{
    margin: 30px 70px 30px 70px;
    padding: 20px;
    background-color: #EEEEEE;
    border: 3px solid #76ABAE;
  }
  #level-btn {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
  
  }
  #level-btn .btn{
    width: 30%;
    border: none;
    border-radius:0;
  }

  #level-btn .btn-lg {
    color: #fff;
    padding: 25px;
  }
  .level-content{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .chart-container {
    max-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
  }
  
  svg {
    display: block;
    margin: 0;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; 
  }
  
  .btn {
    width: 150px; 
  }
  